.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 28px; /* Modifica la dimensione secondo le tue necessità */
    height: 28px; /* Modifica la dimensione secondo le tue necessità */
    color: #f28b0c; /* Colore specificato */
    transition: color 0.3s;
}

.icon-link:hover .icon {
    color: #ff8800; /* Colore quando l'icona è in hover */
}

.ms-5 {
    margin-left: 1.25rem; /* Margine sinistro */
}