/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #ff8800;
	/* Sostituisci con il tuo colore */
}



/* Disabilita la selezione delle immagini */
img {
	user-select: none;
	/* Disabilita la selezione del testo */
	pointer-events: none;
	/* Disabilita gli eventi del mouse, inclusi i clic */
}

/* Disabilita il clic destro sulle immagini */
img {
	-webkit-touch-callout: none;
	/* Disabilita la visualizzazione del menu contestuale su iOS */
	-webkit-user-drag: none;
	/* Disabilita il trascinamento delle immagini su Chrome e Safari */
	-moz-user-drag: none;
	/* Disabilita il trascinamento delle immagini su Firefox */
	-ms-user-drag: none;
	/* Disabilita il trascinamento delle immagini su IE */
	-user-drag: none;
	/* Disabilita il trascinamento delle immagini su tutti i browser moderni */
}


/* CAROUSEL */
.swiper-button-prev,
.swiper-button-next {
	color: #ff8800;
}

/* non visualizzati */
.swiper-pagination-bullet {
	background: #ff8800;
}

.swiper-container {
	height: 400px;
	/* Imposta l'altezza desiderata per il carousel */
	z-index: 5;
	position: relative;
	/* Aggiunto per il contesto di posizionamento */
	box-shadow: 0 5px 5px -5px #333;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
	overflow: hidden;
}

.swiper-slide {
	width: 100%;
	flex-shrink: 0;
}

.swiper-slide img {
	width: 100%;
	height: 400px;
	/* Assicura che le immagini riempiano l'altezza del carousel */
	object-fit: cover;
	/* Mantiene le proporzioni delle immagini */
	filter: blur(10px) brightness(0.6);
	;
	border-radius: 0 !important;
	/* Rimuove gli angoli stondati */
}

/* stile per il titolo */
.swiper-slide .title {
	width: 90%;
	/* Occupa il 90% della larghezza */
	margin: 0 auto;
	/* Centra il titolo orizzontalmente */
	position: absolute;
	bottom: 20px;
	/* Posiziona il titolo vicino al bordo inferiore */
	left: 50%;
	/* Centra il contenitore rispetto al viewport */
	transform: translateX(-50%);
	/* Assicura che il titolo sia centrato rispetto alla propria larghezza */
	font-size: 2rem;
	/* Dimensione del testo */
	font-weight: bold;
	/* Testo in grassetto */
	color: white;
	/* Colore del testo */
	z-index: 10;
	/* Assicura che il titolo sia sopra altri elementi */
	text-align: center;
	/* Centra il testo all'interno del contenitore */
}

/* HEADER */

/* Header Sticky */
.sticky-header {
	position: fixed;
	width: 100%;
	top: -100%;
	left: 0;
	right: 0;
	z-index: 99999;
	background-color: #ffffff;
	transition: top 0.3s ease-in-out;
}

.sticky-header.show {
	top: 0;
	box-shadow: 0 5px 5px -5px #333;
}

.sticky-header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 10px 20px;
}

.sticky-logo,
.sticky-search {
	flex: 0 0 300px;
	/* Imposta una larghezza fissa di 300px */
	display: flex;
	align-items: center;
}

.sticky-custom-logo {
	width: 100%;
	/* Fa sì che il logo occupi tutto lo spazio disponibile nel suo contenitore */
	height: auto;
	display: block;
	max-width: 200px;
	margin: 0 auto;
	/* Centra il logo nel suo contenitore */
}

.sticky-custom-logo img {
	width: 100%;
	/* Assicura che l'immagine del logo si adatti al contenitore */
	height: auto;
	max-width: 200px;
}

.sticky-categories {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* Assicura che il div occupi tutta l'altezza disponibile */
	padding: 0;
	/* Rimuove qualsiasi padding */
	margin: 0;
	/* Rimuove qualsiasi margin */
}

.sticky-categories ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	/* Rimuove i punti elenco */
	padding: 0;
	/* Rimuove il padding predefinito della lista */
	margin: 0;
	/* Rimuove il margin predefinito della lista */
	height: 100%;
	/* Occupa tutta l'altezza disponibile */
}

.sticky-category-item {
	display: flex;
	align-items: center;
	/* Centra verticalmente il contenuto */
	height: 100%;
	/* Occupa tutta l'altezza disponibile */
	margin: 0 10px;
	/* Aggiunge spazio orizzontale tra gli elementi */
}

.sticky-category-item a {
	font-weight: 500;
	color: gray;
	text-align: center;
	display: flex;
	align-items: center;
	/* Centra verticalmente il testo */
	height: 100%;
	/* Occupa tutta l'altezza disponibile */
	padding: 0 5px;
	/* Aggiunge un po' di padding orizzontale */
}

.sticky-search form {
	width: 100%;
	max-width: 200px;
	/* Limita la larghezza massima del form di ricerca */
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.sticky-search input[type="search"] {
	width: 100%;
	padding: 8px 12px;
	background-color: #e2e2e2;
	color: black;
	border: none;
	border-radius: 20px;
}

.sticky-search input[type="search"]::placeholder {
	color: #666;
}














/* Stile aggiuntivo per garantire che l'header normale non interferisca con quello sticky */
.header {
	position: relative;
	z-index: 50;
}

/* Nascondi lo sticky header */
.hidden {
	display: none;
}

/* Mostra lo sticky header */
.flex {
	display: flex;
}


.mobile-last-modified {
	display: none;
	background-color: #ff8800;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 10px;
}

.mobile-last-modified .update-label {
	font-weight: bold;
}

.header-top {
	background: linear-gradient(to left, #ff8800 0%, #ff8800 75%, white 75%, white 100%);
	width: 100%;
	background: linear-gradient(to left,
			#ff8800 0%,
			/* Colore arancione all'inizio */
			#ff8800 75%,
			/* Colore arancione fino al 75% della larghezza */
			white 75%,
			/* Colore bianco inizia dal 75% */
			white 100%
			/* Colore bianco fino alla fine */
		);
	height: auto;
	/* Altezza della parte superiore dell'header */
	font-size: 12px;
	/* Dimensione del testo */
	z-index: 999;
}

.header-bottom {
	background-color: #ffffff;
	/* Colore di sfondo della parte inferiore */
	height: auto;
	/* Altezza della parte inferiore dell'header */
	align-items: center;
	/* Allinea gli elementi verticalmente al centro */
	display: flex;
	/* Usa flexbox per l'allineamento */
	flex-direction: row;
	/* Dispone gli elementi in una riga */
	font-size: 12px;
	/* Dimensione del testo */
	z-index: 999;
}


.custom-logo {
	max-width: 300px;
	border-radius: 0 20px 0 0;
	padding-right: 5%;
	top: 0px;
	left: 0px;
	max-width: 300px;
	/* Larghezza massima del logo */
	height: auto;
	/* Altezza automatica */
	background-color: white;
	/* Sfondo bianco solo per il logo */
	border-radius: 0 20px 0 0;
	/* Arrotondamento del bordo del logo */
	padding-right: 5%;
	/* Padding destro del logo */
}

.nav-element {
	min-width: 120px;
	display: inline-block;
	/* Per adattare la dimensione del div al suo contenuto */
	padding: 10px 20px;
	/* Spazio interno per creare l'effetto di pillola */
	background-color: white;
	/* Sfondo bianco */
	border-radius: 20px;
	/* Arrotonda gli angoli per creare l'effetto di pillola */
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	/* Aggiunge una leggera ombra per un effetto di profondità */
	text-align: center;
	/* Allinea il testo al centro */
	color: black;
	/* Colore del testo */
	font-weight: bold;
	/* Imposto il grassetto */
	min-width: 120px;
	/* Minimo di larghezza */
}

.container {
	max-width: 1400px;
	/* Limita la larghezza a 1400px */
	margin-left: auto;
	/* Allinea il container al centro */
	margin-right: auto;
	/* Allinea il container al centro */
	padding-left: 15px;
	/* Padding sinistro del container */
	padding-right: 15px;
	/* Padding destro del container */
	display: flex;
	/* Usa flexbox per l'allineamento */
	justify-content: space-between;
	/* Spazia gli elementi tra di loro */
	align-items: center;
	/* Allinea gli elementi verticalmente al centro */
	z-index: 999;
}


nav {
	flex-grow: 1;
	/* Consente al menu di occupare tutto lo spazio disponibile */
}

nav ul {
	display: flex;
	/* Usa flexbox per il layout del menu */
	flex-wrap: wrap;
	/* Permette di andare a capo se necessario */
	gap: 10px;
	/* Spazio tra gli elementi del menu */
}

.ml-4 {
	margin-left: 1rem;
	/* Spazio a sinistra della barra di ricerca */
}

.nav_ico {
	display: flex;
	/* Mostra il contenuto in un layout flessibile */
	align-items: center;
	/* Allinea verticalmente al centro */
	justify-content: center;
	/* Allinea orizzontalmente al centro */
	padding: 5px;
	/* Spazio interno per creare l'effetto di pillola */
	background-color: white;
	/* Sfondo bianco */
	border-radius: 50%;
	/* Arrotonda gli angoli per creare l'effetto di pillola */
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	/* Aggiunge una leggera ombra per un effetto di profondità */
	transition: background-color 0.3s;
	/* Transizione per l'effetto hover */
	margin: 0 5px;
	/* Spazio tra le icone */
}

/* Colore delle icone al passaggio del mouse */
.nav_ico:hover .icon {
	color: #ff8800;
	/* Colore dell'icona al passaggio del mouse */
}

.category-list {
	list-style: none;
	/* Rimuove i puntini dalla lista */
	padding: 0;
	/* Rimuove il padding predefinito */
	flex-wrap: wrap;
}













/* Stili per il sottomenu */
.category-item {
    position: relative;
}

.subcategory-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease; /* Ridotto il tempo di transizione per una risposta più rapida */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.subcategory-menu.visible {
    display: block;
    opacity: 1;
}

.category-item:hover .subcategory-menu {
    display: block; /* Mostra il sottomenu al passaggio del mouse */
    opacity: 1; /* Rendi visibile il sottomenu */
}

/* Stili per ciascuna sottocategoria */
.subcategory-menu li {
    white-space: nowrap; /* Per evitare che il testo vada a capo */
    padding: 5px; /* Spazio interno per ogni voce del sottomenu */
    border-bottom: 1px solid #eeeeee; /* Separatore tra le sottocategorie */
}

/* Rimuovi il bordo inferiore dall'ultimo elemento */
.subcategory-menu li:last-child {
    border-bottom: none;
}

/* Aggiungi uno stato attivo per evitare che il sottomenu scompaia troppo presto */
.category-item:hover .subcategory-menu {
    display: block; /* Mostra il sottomenu al passaggio del mouse */
    opacity: 1; /* Rendi visibile il sottomenu */
}





























/* Ricerca mobile */
.mobile-search-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
}

.mobile-search-overlay.active {
	opacity: 1;
	visibility: visible;
	z-index: 999;
}

#mobile-search {
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	right: -300px;
	/* Sposta il pannello fuori schermo a destra */
	width: 300px;
	height: 100%;
	background-color: white;
	z-index: 1000;
	border-top-left-radius: 10px;
	/* Modifica il bordo per sinistra */
	border-bottom-left-radius: 10px;
	/* Modifica il bordo per sinistra */
	display: flex;
	flex-direction: column;
	transition: right 0.3s ease;
	z-index: 9999;
}

#mobile-search.active {
	right: 0;
}

.mobile-search-header {
	background-color: white;
	padding: 15px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	z-index: 1002;
	border-radius: 20px 0px 0px 0px;
}

.close-search {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 24px;
	cursor: pointer;
	z-index: 1002;
}

.mobile-search-content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 20px;
}

.mobile-search-footer {
	position: sticky;
	bottom: 0;
	background-color: white;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	z-index: 1001;
	border-radius: 0px 0px 20px 0px;
}

.mobile-search-footer p {
	margin-bottom: 5px;
	font-size: 14px;
	color: #666;
}

.mobile-search-login {
	display: inline-block;
	padding: 8px 16px;
	background-color: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	font-weight: bold;
}

#search-results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
	padding: 10px;
}

.search-card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.2s ease-in-out;
	text-align: center;
}

.search-card:hover {
	transform: scale(1.05);
}

.search-card-image {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-bottom: 1px solid #e5e5e5;
}

.search-card-title {
	padding: 15px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	text-align: center;
}

.search-card-title a {
	color: inherit;
	text-decoration: none;
}

.search-card-title a:hover {
	text-decoration: none;
}


.mobile-menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
}

.mobile-menu-overlay.active {
	opacity: 1;
	visibility: visible;
	z-index: 999;
}


/* Hamburger mobile */
.mobile-menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
}

.mobile-menu-overlay.active {
	opacity: 1;
	visibility: visible;
	z-index: 999;
}

#mobile-menu {
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100%;
	background-color: white;
	z-index: 1000;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-direction: column;
	transition: left 0.3s ease;
	z-index: 9999;
}

#mobile-menu.active {
	left: 0;
}

.mobile-menu-header {
	background-color: white;
	padding: 15px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	z-index: 1002;
	border-radius: 0px 20px 0px 0px;
}

.mobile-logo {
	max-width: 150px;
	margin: 0 auto;
}

.mobile-logo img {
	max-width: 100%;
	height: auto;
}

.close-menu {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 24px;
	cursor: pointer;
	z-index: 1002;
}

.mobile-menu-content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 20px;
}

.mobile-menu-footer {
	position: sticky;
	bottom: 0;
	background-color: white;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	z-index: 1001;
	border-radius: 0px 0px 20px 0px;
}

.mobile-menu-footer p {
	margin-bottom: 5px;
	font-size: 14px;
	color: #666;
}

.mobile-menu-login {
	display: inline-block;
	padding: 8px 16px;
	background-color: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	font-weight: bold;
}


/* PAGINA PRINCIPALE */
.site_main {
	margin-top: -30px;
}

* {
	box-sizing: border-box;
}

.paginazione {
	scale: 100%;
	gap: 6px;
}

.articoli {
	position: relative;
	z-index: 1;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 0 5px -5px #333;
}

.sidebar {
	position: relative;
	z-index: 0;
	/* Deve essere inferiore a quello di .articoli */
	margin-left: -5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 0 5px -5px #333;
}

.site_container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}


/* FOOTER */

.fixed-back-to-top {
	position: fixed;
	bottom: -100px;
	/* Nasconde il pulsante inizialmente fuori dallo schermo */
	right: 2%;
	z-index: 9999;
	background-color: #ff8800;
	color: white;
	padding: 6px;
	border-radius: 50px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: bottom 0.5s ease;
	/* Animazione di scorrimento dal basso verso l'alto */
}

.fixed-back-to-top svg {
	width: 36px;
	height: 36px;
	fill: white;
}

.fixed-back-to-top.visible {
	bottom: 2%;
	/* Posizione finale del pulsante quando è visibile */
}


.fixed-share-button {
	position: fixed;
	bottom: -100px;
	/* Nasconde il pulsante inizialmente fuori dallo schermo */
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	background-color: #ff8800;
	color: white;
	padding: 10px 20px;
	border-radius: 50px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: bottom 0.5s ease;
	/* Animazione di scorrimento dal basso verso l'alto */
}

.fixed-share-button.visible {
	bottom: 20px;
	/* Posizione finale del pulsante quando è visibile */
}


.footer-icon {
	background-color: #e6e6e6cf;
	/* bg-[#e6e6e6cf] */
	height: 2.5rem;
	/* h-10 */
	width: 2.5rem;
	/* w-10 */
	border-radius: 9999px;
	/* rounded-full */
	display: flex;
	/* flex */
	align-items: center;
	/* items-center */
	justify-content: center;
	/* justify-center */
	flex-shrink: 0;
	/* shrink-0 */
}

.icon {
	width: 20px;
	/* Modifica la dimensione secondo le tue necessità */
	height: 20px;
	/* Modifica la dimensione secondo le tue necessità */
	color: black;
	/* Colore specificato */
	transition: color 0.3s;
	/* Aggiunge una transizione sul colore */
}

.footer-icon:hover .icon {
	color: #ff8800;
	/* Colore quando l'icona è in hover */
}



/* SIDEBAR */
/* Stili per la barra laterale su dispositivi più grandi */
.sidebar {
	width: 100%;
	max-width: 30%;
	flex-shrink: 0;
	position: sticky;
	top: 0;
	align-self: start;
	padding: 1rem;
	background-color: #e2e2e2;
	min-height: 100vh;
	overflow: hidden;
}

/* Stili per il titolo della barra laterale */
.sidebar-title {
	font-size: 1.25rem;
	/* text-xl */
	font-weight: bold;
	inline-size: 1;
	padding-top: 0;
	margin-top: 0;
	text-align: center;
}

/* Stili per il contenuto della barra laterale */
.sidebar-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* Spazio tra i frame */
}

.video-frame {
	width: 100%;
	border-radius: 20px;
	position: relative;
	height: 250px;
}




/* POST */

.post_top {
	box-shadow: 0 5px 5px -5px #333;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
	overflow: hidden;
	height: 400px;
}

.post_title {
	width: 90%;
	/* Occupa il 90% della larghezza */
	margin: 0 auto;
	/* Centra il titolo orizzontalmente */
	position: absolute;
	bottom: 20px;
	/* Posiziona il titolo vicino al bordo inferiore */
	left: 50%;
	/* Centra il contenitore rispetto al viewport */
	transform: translateX(-50%);
	/* Assicura che il titolo sia centrato rispetto alla propria larghezza */
	font-size: 2rem;
	/* Dimensione del testo */
	font-weight: bold;
	/* Testo in grassetto */
	color: white;
	/* Colore del testo */
	z-index: 10;
	/* Assicura che il titolo sia sopra altri elementi */
	text-align: center;
	/* Centra il testo all'interno del contenitore */
}

.post_img {
	width: 100%;
	height: 400px;
	/* Assicura che le immagini riempiano l'altezza del div */
	object-fit: cover;
	/* Mantiene le proporzioni delle immagini */
	border-radius: 0 !important;
	/* Rimuove gli angoli stondati */
}

.author-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #eeeeee;
	border-radius: 10px;
	padding: 20px;
}

.author-avatar {
	width: 60px;
	height: 60px;
}

.author-name {
	font-size: 1.25rem;
	/* 20px */
}

.post-date,
.category-label,
.tag-label {
	font-size: 1rem;
	/* 16px */
}

.post-social-icons {
	display: flex;
	gap: 10px;
}

.social-icon {
	width: 30px;
	height: 30px;
	transition: color 0.3s ease;
}

.social-icon:hover {
	color: #ff8800;
}

.category-tags-wrapper {
	margin-bottom: 24px;
}


.articolo {
	align-items: center;
	/* Centra gli elementi orizzontalmente */
	z-index: 1;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 0 5px -5px #333;
	padding: 20px;
}

.articolo h1,
.articolo h2,
.articolo h3,
.articolo h4,
.articolo h5,
.articolo h6 {
	margin: 20px 0px 10px 0px;
	font-weight: bold;
	text-transform: uppercase;
}

.articolo img {
	border-radius: 8px;
	margin: 20px auto;
	/* Aggiunge spazio sopra e sotto l'immagine */
	max-width: 100%;
	height: auto;
}

.sidebar-content img {
	border-radius: 4px;
}

.entry-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	font-size: 1.5rem;
}

.entry-content img {
	max-width: 100%;
	height: auto;
}

.side_img {
	height: 120px;
	width: auto;
}

.entry-content p {
	font-size: 1.2rem;
}

.side_text {
	font-size: 1rem;
}

.post-first-letter {
	font-size: 2.5em;
	/* Dimensione grande per il capolettera */
	float: left;
	/* Posiziona la lettera a sinistra */
	margin-right: 5px;
	/* Spazio tra la lettera e il testo */
	line-height: 1.2;
	/* Altezza della linea per occupare più righe */
	max-height: 2.4em;
	/* Limita l'altezza del capolettera */
	overflow: hidden;
	/* Nasconde l'eccesso che va oltre */
	display: inline-block;
	/* Mantiene il capolettera all'interno del blocco */
	color: #ff8800;
}


.fixed-share-button {
	position: fixed;
	bottom: -100px;
	/* Nasconde il pulsante inizialmente fuori dallo schermo */
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	background-color: #ff8800;
	color: white;
	padding: 10px 20px;
	border-radius: 50px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: bottom 0.5s ease;
	/* Animazione di scorrimento dal basso verso l'alto */
}

.fixed-share-button.visible {
	bottom: 20px;
	/* Posizione finale del pulsante quando è visibile */
}


/* Bottone ricerca  */ 
#mobile-search-button {
	display: none;
}

/* Bottone menu */
#mobile-menu-button {
	display: none;
}

/* MEDIA QUERY */
/* Media query per schermi più grandi di 768px */
@media (min-width: 768px) {
	.sidebar {
		display: block;
	}
}

/*Fino a 768px di larghezza*/
@media screen and (max-width: 768px) {

    .custom-logo {
        max-width: 150px;
        margin: 0 auto;
        z-index: 25;
    }

	.articolo {
		padding: 0px 5px 5px 5px;
		padding-top: 0px;
		margin: 0px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		scale: 50%;
	}

	.card_title {
		font-size: 1.2rem;
	}

	.card_img {
		height: 150px;
	}

	.card_description {
		font-size: 0.75rem;
	}

	.card_author {
		font-size: 0.75rem;
	}

	.category_name {
		font-size: 1.4rem;
	}
	.swiper-container {
		height: 220px;
	}

	.swiper-slide img {
		height: 220px;
	}

	.swiper-slide .title {
		font-size: 1.2rem;
	}

	.post_top {
		height: 220px;
	}

	.post_img {
		height: 220px;
	}

	.post_title {
		font-size: 1.2rem;
		line-height: normal;
	}

	.author-avatar {
		width: 60px;
		height: 60px;
	}

	.author-name {
		font-size: 1.125rem;
		/* 18px */
	}

	.post-date,
	.category-label,
	.tag-label {
		font-size: 0.875rem;
		/* 14px */
	}

	.category-tags-wrapper {
		margin-bottom: 0px;
	}

	.category-tags-wrapper .tag-label:nth-child(n+4) {
		display: none;
	}

	.articoli {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		box-shadow: none;
	}

	.entry-content {
		font-size: 1.2rem;
	}

	.entry-content p {
		font-size: 1rem;
	}

}


/*Fino a 1200px di larghezza*/
@media screen and (max-width: 1200px) {}


/*Fino a 980px di larghezza*/
@media screen and (max-width: 980px) {

	.mobile-last-modified {
		display: block;
		max-height: 25px;
	}

	.header {
		position: fixed;
		background-color: white;
		width: 100%;
		box-shadow: 0 5px 5px -5px #333;
	}

	.header-top {
		background: none;
		padding: 5px;
		max-height: 80px;
	}

	.header-bottom {
		display: none;
	}

	.container {
		top: 0;
		z-index: 1000;
	}

	.header-top .container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		max-height: 250px;
	}

	.custom-logo {
		max-width: 200px;
		margin: 0 auto;
		z-index: 25;
	}

	#mobile-menu-button {
		display: block;
		position: absolute;
		left: 10px;
	}

	#mobile-search-button {
		display: block;
		position: absolute;
		right: 10px;
	}

	.sticky-header {
		display: none;
	}

	.nav-element {
		display: none;
	}


	.sidebar {
		display: none;
	}

	.author-avatar {
		width: 40px;
		height: 40px;
	}

	.social-icon {
		width: 25px;
		height: 25px;
	}

	.category-label,
	.tag-label {
		margin: 2px;
	}

	.articolo {
		box-shadow: none;
	}

	.category-tags-wrapper {
		margin-bottom: 0px;
	}

}

/*Fino a 480px di larghezza*/
@media screen and (max-width: 480px) {

	.author-avatar {
		width: 25px;
		height: 25px;
	}

	.author-name {
		font-size: 1rem;
		/* 16px */
	}

	.post-date,
	.category-label,
	.tag-label {
		font-size: 0.75rem;
		/* 12px */
	}

	.tags-wrapper .tag-label:nth-child(n+4) {
		display: none;
	}

	.social-icon {
		width: 20px;
		height: 20px;
	}

	.category-tags-wrapper {
		margin-bottom: 0px;
	}

}



/*--------------------------------------------------------------
>>> INDICE WORDPRESS:
----------------------------------------------------------------
# Generale
	- Normalizzazione
	- Dimensionamento dei box
# Base
	- Tipografia
	- Elementi
	- Link
	- Moduli
## Layout
# Componenti
	- Navigazione
	- Articoli e pagine
	- Commenti
	- Widget
	- Media
	- Didascalie
	- Gallerie
# Plugin
	- Jetpack infinite scroll
# Utilità
	- Accessibilità
	- Allineamenti


--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generale
--------------------------------------------------------------*/

/* Normalizzazione
--------------------------------------------- */

/* Documento
	 ========================================================================== */

/**
 * 1. Specifico l'interlinea per tutti i browser.
 * 2. Specifico la dimensione del font.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sezioni
	 ========================================================================== */

/**
 * Rimuovo i margini da tutti i browser.
 */
body {
	margin: 0;
}

/**
 * Imposto il render del 'main' per i browser più vecchi.
 */
main {
	display: block;
}

/**
 * Correggo la grandezza del font e del margine negli elementi 'h1'
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Dimensione dei box
	 ========================================================================== */

/**
 * 1. Aggiungo la corretta dimensione su Firefox.
 * 2. Mostro l'overflow su Edge e IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * Correggo l'interlinea e la grandezza del font su tutti i browser.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Semantica testo
	 ========================================================================== */

/**
 * Rimuovo il colore dai link 'attivi' su IE 10.
 */
a {
	background-color: transparent;
}

/**
 * Rimuovo il 'text-decoration'.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: none;
	text-decoration: none;
}

/**
 * Correggo lo stile del font sui browser.
 */
b,
strong {
	font-weight: bolder;
}


/* Contenuto Embedded
	 ========================================================================== */

/**
 * Rimuovo il bordo dalle immagini.
 */
img {
	border-style: none;
}

/* Form
	 ========================================================================== */

/**
 * 1. Cambio lo stile del font.
 * 2. Rimuovo i margini su Firefox e Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	border: none;
	outline: none;
	box-shadow: none;
}

/**
 * Mostro l'overflow su Edge e IE.
 */
button,
input {
	overflow: visible;
	border: none;
	outline: none;
	box-shadow: none;
}


/**
 * Sistemo il bottone per l'uso sui sistemi iOS e Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	border: none;
	outline: none;
	box-shadow: none;

}


/**
 * Correggo il ritorno a capo del testo.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Aggiungo l'allineamento verticale.
 */
progress {
	vertical-align: baseline;
}

/**
 * Cursore corretto per l'incremento e il decremento su Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correggo l'impossibilità di stilizzare i tipi cliccabili in iOS e Safari.
 * 2. Modifico le proprietà dei caratteri in `ereditarietà` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interattivo
	 ========================================================================== */

/*
 * Sistemo la visualizzazione su Edge, IE 10+, e Firefox.
 */
details {
	display: block;
}

/*
 * Sistemo la visualizzazione su tutti i browser.
 */
summary {
	display: list-item;
}

/* Dimensione dei box
--------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Tipografia
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	border: none;
	outline: none;
	box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

/* Dimensione del font per tutti i <p> */
p {
	font-size: 0.875rem;
	/* Equivalente a text-sm in Tailwind */
	color: #6b7280;
	/* Colore per text-gray-500 */
}

/* Colore del testo in modalità scura */
@media (prefers-color-scheme: dark) {
	p {
		color: #9ca3af;
		/* Colore per dark:text-gray-400 */
	}
}


dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elementi
--------------------------------------------- */
body {
	background: white;
}

hr {
	background-color: white;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
	list-style: none;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
	text-decoration: none;
}

a:visited {
	color: #4169e1;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #ff8800;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Form
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	border: none;
	outline: none;
	box-shadow: none;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border: none;
	outline: none;
	box-shadow: none;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: none;
	outline: none;
	box-shadow: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Componenti
--------------------------------------------------------------*/

/* navigazione
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Post e pagine
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Coomenti
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widget
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.custom-logo-link {
	display: inline-block;
}

/* Didascalie
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Gallerie
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}