/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

.site_main {
	margin-top: -30px;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* CAROUSEL */
.swiper-button-prev,
.swiper-button-next {
	color: #ff8800;
}

/* NON VISUALIZZATI */
.swiper-pagination-bullet {
	background: #ff8800;
}

.swiper-container {
	height: 400px;
	/* Imposta l'altezza desiderata per il carousel */
	z-index: 5;
	position: relative;
	/* Aggiunto per il contesto di posizionamento */
	box-shadow: 0 5px 5px -5px #333;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    flex-shrink: 0;
}

.swiper-slide img {
	width: 100%;
	height: 400px;
	/* Assicura che le immagini riempiano l'altezza del carousel */
	object-fit: cover;
	/* Mantiene le proporzioni delle immagini */
	filter: blur(10px) brightness(0.6);
	;
	border-radius: 0 !important;
	/* Rimuove gli angoli stondati */
}

/* stile per il titolo */
.swiper-slide .title {
    width: 90%; /* Occupa il 90% della larghezza */
    margin: 0 auto; /* Centra il titolo orizzontalmente */
    position: absolute;
    bottom: 20px; /* Posiziona il titolo vicino al bordo inferiore */
    left: 50%; /* Centra il contenitore rispetto al viewport */
    transform: translateX(-50%); /* Assicura che il titolo sia centrato rispetto alla propria larghezza */
    font-size: 2rem; /* Dimensione del testo */
    font-weight: bold; /* Testo in grassetto */
    color: white; /* Colore del testo */
    z-index: 10; /* Assicura che il titolo sia sopra altri elementi */
    text-align: center; /* Centra il testo all'interno del contenitore */
}

.articoli {
	position: relative;
	z-index: 1;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 0 5px -5px #333;
}

.sidebar {
	position: relative;
	z-index: 0;
	/* Deve essere inferiore a quello di .articoli */
	margin-left: -5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 0 5px -5px #333;
}


/* Disabilita la selezione delle immagini */
img {
	user-select: none;
	/* Disabilita la selezione del testo */
	pointer-events: none;
	/* Disabilita gli eventi del mouse, inclusi i clic */
}

/* Disabilita il clic destro sulle immagini */
img {
	-webkit-touch-callout: none;
	/* Disabilita la visualizzazione del menu contestuale su iOS */
	-webkit-user-drag: none;
	/* Disabilita il trascinamento delle immagini su Chrome e Safari */
	-moz-user-drag: none;
	/* Disabilita il trascinamento delle immagini su Firefox */
	-ms-user-drag: none;
	/* Disabilita il trascinamento delle immagini su IE */
	-user-drag: none;
	/* Disabilita il trascinamento delle immagini su tutti i browser moderni */
}


/* SITE MAIN */
/* Aggiungi questo CSS al tuo style.css */
.site_container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}






/* HEADER */

.header-top {
	background: linear-gradient(to left, #ff8800 0%, #ff8800 75%, white 75%, white 100%);
}

.custom-logo {
	max-width: 300px;
	border-radius: 0 20px 0 0;
	padding-right: 5%;
}

.nav-element {
	min-width: 120px;
}










/* FOOTER */

.footer-icon {
	background-color: #e6e6e6cf;
	/* bg-[#e6e6e6cf] */
	height: 2.5rem;
	/* h-10 */
	width: 2.5rem;
	/* w-10 */
	border-radius: 9999px;
	/* rounded-full */
	display: flex;
	/* flex */
	align-items: center;
	/* items-center */
	justify-content: center;
	/* justify-center */
	flex-shrink: 0;
	/* shrink-0 */
}

.icon {
	width: 20px;
	/* Modifica la dimensione secondo le tue necessità */
	height: 20px;
	/* Modifica la dimensione secondo le tue necessità */
	color: black;
	/* Colore specificato */
	transition: color 0.3s;
	/* Aggiunge una transizione sul colore */
}

.footer-icon:hover .icon {
	color: #ff8800;
	/* Colore quando l'icona è in hover */
}

/* HEADER */
.header {
	width: 100%;
}

.custom-logo {
	top: 0px;
	left: 0px;
	max-width: 300px;
	/* Larghezza massima del logo */
	height: auto;
	/* Altezza automatica */
	background-color: white;
	/* Sfondo bianco solo per il logo */
	border-radius: 0 20px 0 0;
	/* Arrotondamento del bordo del logo */
	padding-right: 5%;
	/* Padding destro del logo */

}

.container {
	max-width: 1400px;
	/* Limita la larghezza a 1400px */
	margin-left: auto;
	/* Allinea il container al centro */
	margin-right: auto;
	/* Allinea il container al centro */
	padding-left: 15px;
	/* Padding sinistro del container */
	padding-right: 15px;
	/* Padding destro del container */
	display: flex;
	/* Usa flexbox per l'allineamento */
	justify-content: space-between;
	/* Spazia gli elementi tra di loro */
	align-items: center;
	/* Allinea gli elementi verticalmente al centro */
	z-index: 999;
}


.header-top {
	background: linear-gradient(to left,
			#ff8800 0%,
			/* Colore arancione all'inizio */
			#ff8800 75%,
			/* Colore arancione fino al 75% della larghezza */
			white 75%,
			/* Colore bianco inizia dal 75% */
			white 100%
			/* Colore bianco fino alla fine */
		);
	position: relative;
	/* Necessario per posizionare gli pseudo-elementi */
	height: auto;
	/* Altezza della parte superiore dell'header */
	font-size: 12px;
	/* Dimensione del testo */
	z-index: 999;
}

.header-bottom {
	background-color: #ffffff;
	/* Colore di sfondo della parte inferiore */
	height: auto;
	/* Altezza della parte inferiore dell'header */
	align-items: center;
	/* Allinea gli elementi verticalmente al centro */
	display: flex;
	/* Usa flexbox per l'allineamento */
	flex-direction: row;
	/* Dispone gli elementi in una riga */
	font-size: 12px;
	/* Dimensione del testo */
	z-index: 999;
}


nav {
	flex-grow: 1;
	/* Consente al menu di occupare tutto lo spazio disponibile */
}

nav ul {
	display: flex;
	/* Usa flexbox per il layout del menu */
	flex-wrap: wrap;
	/* Permette di andare a capo se necessario */
	gap: 10px;
	/* Spazio tra gli elementi del menu */
}

.ml-4 {
	margin-left: 1rem;
	/* Spazio a sinistra della barra di ricerca */
}

/* Stile per la pillola degli elementi della navbar (data, ora, ultima modifica) */
.nav-element {
	display: inline-block;
	/* Per adattare la dimensione del div al suo contenuto */
	padding: 10px 20px;
	/* Spazio interno per creare l'effetto di pillola */
	background-color: white;
	/* Sfondo bianco */
	border-radius: 20px;
	/* Arrotonda gli angoli per creare l'effetto di pillola */
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	/* Aggiunge una leggera ombra per un effetto di profondità */
	text-align: center;
	/* Allinea il testo al centro */
	color: black;
	/* Colore del testo */
	font-weight: bold;
	/* Imposto il grassetto */
	min-width: 120px;
	/* Minimo di larghezza */
}

.nav_ico {
	display: flex;
	/* Mostra il contenuto in un layout flessibile */
	align-items: center;
	/* Allinea verticalmente al centro */
	justify-content: center;
	/* Allinea orizzontalmente al centro */
	padding: 5px;
	/* Spazio interno per creare l'effetto di pillola */
	background-color: white;
	/* Sfondo bianco */
	border-radius: 50%;
	/* Arrotonda gli angoli per creare l'effetto di pillola */
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	/* Aggiunge una leggera ombra per un effetto di profondità */
	transition: background-color 0.3s;
	/* Transizione per l'effetto hover */
	margin: 0 5px;
	/* Spazio tra le icone */
}

/* Colore delle icone al passaggio del mouse */
.nav_ico:hover .icon {
	color: #ff8800;
	/* Colore dell'icona al passaggio del mouse */
}

.category-list {
	list-style: none;
	/* Rimuove i puntini dalla lista */
	padding: 0;
	/* Rimuove il padding predefinito */
	flex-wrap: wrap;
}

.category-item a {
	margin: auto;
	font-weight: 600;
	/* Semi-bold */
	color: #787878;
	/* Grigio */
	text-decoration: none;
	/* Rimuove la sottolineatura dai link */
}


/* SIDEBAR */
/* Stili per la barra laterale su dispositivi più grandi */
.sidebar {
	width: 100%;
	max-width: 25%;
	flex-shrink: 0;
	position: sticky;
	top: 0;
	align-self: start;
	padding: 1rem;
	background-color: #e2e2e2;
	/* background-gray-100 */
	min-height: 100vh;
	overflow: hidden;
}

/* Stili per il titolo della barra laterale */
.sidebar-title {
	font-size: 1.25rem;
	/* text-xl */
	font-weight: bold;
	margin-bottom: 1rem;
	/* mb-4 */
}

/* Stili per il contenuto della barra laterale */
.sidebar-content {
	margin-bottom: 1rem;
	/* mb-4 */
}


@media screen and (max-width: 768px) {
	.header-top {
		background: none;
	}

	.header-bottom {
		display: none;
	}

	.custom-logo {
		max-width: 150px;
	}

}

/* Media query per schermi più grandi */
@media (min-width: 768px) {
	.sidebar {
		display: block;
	}
}

/*Fino a 1200px di larghezza*/
@media screen and (max-width: 1200px) {}


/*Fino a 980px di larghezza*/
@media screen and (max-width: 980px) {}

/*Fino a 767px di larghezza*/
@media screen and (max-width: 767px) {
	.sidebar {
		display: none;
	}

	.swiper-container {
		height: 250px;
	}
	
	.swiper-slide img {
		height: 250px;
	}

	.swiper-slide .title {
		font-size: 1.2rem;
	}

	.articoli {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		box-shadow: none;
	}
}


/*Fino a 480px di larghezza*/
@media screen and (max-width: 480px) {}



/*--------------------------------------------------------------
>>> INDICE:
----------------------------------------------------------------
# Generale
	- Normalizzazione
	- Dimensionamento dei box
# Base
	- Tipografia
	- Elementi
	- Link
	- Moduli
## Layout
# Componenti
	- Navigazione
	- Articoli e pagine
	- Commenti
	- Widget
	- Media
	- Didascalie
	- Gallerie
# Plugin
	- Jetpack infinite scroll
# Utilità
	- Accessibilità
	- Allineamenti


--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generale
--------------------------------------------------------------*/

/* Normalizzazione
--------------------------------------------- */

/* Documento
	 ========================================================================== */

/**
 * 1. Specifico l'interlinea per tutti i browser.
 * 2. Specifico la dimensione del font.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sezioni
	 ========================================================================== */

/**
 * Rimuovo i margini da tutti i browser.
 */
body {
	margin: 0;
}

/**
 * Imposto il render del 'main' per i browser più vecchi.
 */
main {
	display: block;
}

/**
 * Correggo la grandezza del font e del margine negli elementi 'h1'
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Dimensione dei box
	 ========================================================================== */

/**
 * 1. Aggiungo la corretta dimensione su Firefox.
 * 2. Mostro l'overflow su Edge e IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * Correggo l'interlinea e la grandezza del font su tutti i browser.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Semantica testo
	 ========================================================================== */

/**
 * Rimuovo il colore dai link 'attivi' su IE 10.
 */
a {
	background-color: transparent;
}

/**
 * Rimuovo il 'text-decoration'.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: none;
	text-decoration: none;
}

/**
 * Correggo lo stile del font sui browser.
 */
b,
strong {
	font-weight: bolder;
}


/* Contenuto Embedded
	 ========================================================================== */

/**
 * Rimuovo il bordo dalle immagini.
 */
img {
	border-style: none;
}

/* Form
	 ========================================================================== */

/**
 * 1. Cambio lo stile del font.
 * 2. Rimuovo i margini su Firefox e Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	border: none;
	outline: none;
	box-shadow: none;
}

/**
 * Mostro l'overflow su Edge e IE.
 */
button,
input {
	overflow: visible;
	border: none;
	outline: none;
	box-shadow: none;
}


/**
 * Sistemo il bottone per l'uso sui sistemi iOS e Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	border: none;
	outline: none;
	box-shadow: none;

}


/**
 * Correggo il ritorno a capo del testo.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Aggiungo l'allineamento verticale.
 */
progress {
	vertical-align: baseline;
}

/**
 * Cursore corretto per l'incremento e il decremento su Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correggo l'impossibilità di stilizzare i tipi cliccabili in iOS e Safari.
 * 2. Modifico le proprietà dei caratteri in `ereditarietà` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interattivo
	 ========================================================================== */

/*
 * Sistemo la visualizzazione su Edge, IE 10+, e Firefox.
 */
details {
	display: block;
}

/*
 * Sistemo la visualizzazione su tutti i browser.
 */
summary {
	display: list-item;
}

/* Dimensione dei box
--------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Tipografia
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	border: none;
	outline: none;
	box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

/* Dimensione del font per tutti i <p> */
p {
	font-size: 0.875rem;
	/* Equivalente a text-sm in Tailwind */
	color: #6b7280;
	/* Colore per text-gray-500 */
}

/* Colore del testo in modalità scura */
@media (prefers-color-scheme: dark) {
	p {
		color: #9ca3af;
		/* Colore per dark:text-gray-400 */
	}
}


dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elementi
--------------------------------------------- */
body {
	background: white;
}

hr {
	background-color: white;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
	list-style: none;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
	text-decoration: none;
}

a:visited {
	color: #4169e1;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #ff8800;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Form
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	border: none;
	outline: none;
	box-shadow: none;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border: none;
	outline: none;
	box-shadow: none;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: none;
	outline: none;
	box-shadow: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Componenti
--------------------------------------------------------------*/

/* navigazione
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Post e pagine
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Coomenti
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widget
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.custom-logo-link {
	display: inline-block;
}

/* Didascalie
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Gallerie
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}